# Django 
Django==3.0.2
django-allauth==0.41.0
django-configurations==2.2
django-filter==2.2.0
django-rest-auth==0.9.5
djangorestframework==3.11.2

# Testing
coverage==5.0.3
factory-boy==2.12.0

# Database
psycopg2-binary==2.8.4

# Dev
black==19.3b0

# Server
gunicorn==20.0.4
